h2 {
  margin-top: 15px;
}

.body-container {
  position: relative;
  height: 100%;
}

.top-row {
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
}

.top-margin {
  margin-top: 15px;
}

.map-col {
  text-align: center;
}

.align-left {
  text-align: left;
}

.right-col-rows {
  text-align: left;
  margin: 15px 0px 15px 0px;
}

.row-ul {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.image-left {
  max-width: 300px;
  margin: 15px;
  float: left;
}

.top-image {
  margin-top: 15px;
  max-width: 700px;
  width: auto;
}